.Header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 60;
  padding: 8px 0 0;
  opacity: 1;
  transition: opacity .3s ease, transform .3s ease;
  transform: translateX(-52px);
}

.Header-icon {
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  display: block;
  float: left;
  padding: 10px;
  margin: 0 0 0 8px;
  color: #000;
}

.Header-icon
  > svg {
    display: block;
  }

.home
  .Header {
    opacity: 0;
  }

.movie
  .Header {
    transform: translateX(0);
  }
